@charset "utf-8";
body{
 	background-color:#a4a6a0;
}
footer {
	width: 100%;
	height: 50px;
	padding-top: 10px;
	position: absolute;
	bottom: 0px;
	text-align: center;
}
.txt{
    font-weight:bold;
}
#header{
	color: white;
	text-align: center;
    background: rgb(0,21,41);
    width: 100%;
    height: 7%;
    margin: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
}
#logo{
    position: absolute;
    left: 1%;
    width: 94px;
    top: 23%;
}
#usr{
    position: absolute;
    /*top: 68%;*/
    top:40%;
    right: 1%;
    margin: 0px
}
#msg{
    position: absolute;
    top: 68%;
    right: 1%;
    margin: 0px
}
#img{
    position: absolute;
    top: 10%;
    left: 19%;
    border: 4px solid ghostwhite;
    width: 70%;
    height: 45%;
}
#illustrate{
    position: absolute;
    top: 10%;
    left: 0.5%;
    width: 18%;
    height: 350px;

}
#location{
    position: absolute;
    top: 76%;
    left: 11%;
}
.score{
    width: 25%;
    position: absolute;
    left: 25%;
}
.score2{
    width: 25%;
    position: absolute;
    left: 59%;

}
.category{
    position: absolute;
    left: 20%;
    font-weight:bold;
    font-size:1vh;
}
.category2{
    position: absolute;
    left: 54%;
    font-weight:bold;
    font-size:1vh;
}
#safetyScore{
    top:62%;
}
#comfortScore{
    top:70%;
}
#convenienceScore{
    top:62%;
}
#attractivenessScore{
    top:70%;
}



